<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name= "viewport" content ="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <!--<h1>Enter your favorite number, your birthdate and birth year</h1>-->
      <!--<form action='/result' method='post'>-->
      <!--  <input type="text" name="fav_num">-->
      <!--  <input type="text" name="date">-->
      <!--  <input type="text" name="year">-->
      <!--  <input type="submit" value ="Press to get results">-->
        
      <!--</form>-->
      
      1) <%= @num %> <br>
      <br>
     
     2) <%= @date %> <br>
     <br>
     3) <%= @year %> <br>
     <br> 
      
      
    </div>
    
  </body>
</html>
